

@font-face {
    font-family: 'digFont';
    src: url(fonts/DS-DIGI.TTF);
}


body {
    display: flex;
    justify-content: center;
}

.display-container {
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: center;
}

.back {
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(145, 135, 135);
    height: 37px;
    width: 202px;
}

.sunny {
    animation: fadeIn linear 2s forwards;
    -webkit-animation: fadeIn linear 2s forwards;
    -moz-animation: fadeIn 2s forwards;
    -o-animation: fadeIn 2s forwards;
    -ms-animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.no-sun {
    animation: fadeOut 30s forwards;
    -webkit-animation: fadeOut 30s forwards;
    -moz-animation: fadeOut 30s forwards;
    -o-animation: fadeOut 30s forwards;
    -ms-animation: fadeOut 30s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.display {
    text-align: right;
    font-size: 35px;
    border-radius: 5px;
    background-color: rgb(145, 135, 135);
    height: 35px;
    width: 200px;
    font-family: digFont;
}

.number-btns {
    display: grid;
    column-gap: 0;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 206px;
    justify-items: center;
}

.all-btns {
    display: flex;
    height: 192px;

}

.operator-btns {
    display: grid;
    width: 75px;
    grid-template-columns: 1;
    justify-items: center;
    row-gap: 3px;
    align-items: center;
}

.plus-minus {
    width: 55px;
}

.shell {
    background-color: #065598;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 290px;
    height: 500px;
    align-items: stretch;
    border: 2px solid black;
}

.number {
    width: 55px;
    height: 35px;
    border-radius: 5px;  
}

button {
    border: 2px solid black;
    font-size: 15px;
    display:inline-flex;
    text-align: left;
}

.operator {
    width: 55px;
    height: 35px;
    border-radius: 5px;
}

.equals {
    width: 55px;
    height: 35px;
    border-radius: 5px;
}

.solar-container {
    display: flex;
    height: 51px;
}

.title {
    margin: 0;
    height: 40px;
}

.sun-container {
    height: 110px;
    display: flex;
}

.sun {
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: center;
}

.top-btn {
    display: flex;
    width: 75px;
    justify-content: center;
    align-items: center;
}

.minus {
    height: 70px;
    border-radius: 5px;
}

.solar-panel {
    position: relative;
    top: 2px;
    left: 18px;
}

.charge {
    text-align: center;
    width: 75px;
}

.white {
    background-color: white;
    color: #065598;
    font-weight: bold;
}

.red {
    background-color: red;
    color: white;
    font-weight: bold;
}

h3 {
    padding-left: 30px;
    color: white;
}

h4 {
    color: white;
}

i {
    color: white;
}